<div class="container my-5">
    <h2>Data Mahasiswa</h2>

   
    <div class="row">
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Foto Mahasiswa">
                <div class="card-body">
                    <h5 class="card-title">Eric Candra</h5>
                    <p class="card-text">NPM: 2226240059</p>
                    <p class="card-text">Jenis Kelamin: Laki Laki</p>
                    <p class="card-text">Prodi: Sistem Informasi</p>
                    <a href="#" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Foto Mahasiswa">
                <div class="card-body">
                    <h5 class="card-title">Puspita Sari</h5>
                    <p class="card-text">NPM: 2226240123</p>
                    <p class="card-text">Jenis Kelamin: Perempuan</p>
                    <p class="card-text">Prodi: Teknik Informatika</p>
                    <a href="#" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Foto Mahasiswa">
                <div class="card-body">
                    <h5 class="card-title">Nabila</h5>
                    <p class="card-text">NPM: 2226240124</p>
                    <p class="card-text">Jenis Kelamin: Perempuan</p>
                    <p class="card-text">Prodi: Informatika</p>
                    <a href="#" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container my-5">
    <h2>Data Mahasiswa</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama Mahasiswa</th>
          <th>Singkatan</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Erick Candra</td>
          <td>EC</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Nabila</td>
          <td>NB</td>
        </tr>
      </tbody>
    </table>
  </div> -->
