
    <h1>about us</h1>
    <p>ini halaman about</p>
    <!-- <img src="./img/eric.jpg" alt="" srcset=""> -->
    <div class="col-lg-6 col-lg-6">
        <img src="img/eric.jpg" alt="" class="img-fluid rounded" />
        <h5>Universitas Multi Data Palembang</h5>
        Kampus Berinovasi, kampus yang nyaman seluruh fasilitas di dalam kampus
    </div>  
    
