
    <p>ini halaman home</p>
    <h4>Berita Terkini</h4>
    <% berita.forEach(data => { %>
     <h5><%= data.judul %></h5>
     <p><%= data.isi %></p>
     <button class="btn btn-primary">Selengkapnya</button>
    <% }) %>
